/* small.event-list{
    font-size: 11px;
} */
div.event-none{
    line-height: 1;
}
div.event-exist{
    line-height: 1;
}

.checkbox-checked{
    visibility: hidden;
}
.checkbox-unchecked{
    visibility: visible;
}