<small *ngIf="selected_date">{{selected_country}}, {{selected_date}}:</small>

<div *ngFor="let note of event_notes">
  <!-- <span class="badge">{{note.type}}</span>  -->
  <!-- {{note.text}} -->
  
        <input type="checkbox" name="{{note.type}}" id="{{note.type}}" (click)="selectCheckBox(note.type)" unchecked>
        <button class="btn btn-sm btn-outline-dark"
        style="font-size: 0.6em; font-weight: bold;" 
        (click)="submit(note.text)">{{note.mean}}</button>
</div>
<small *ngIf="!event_notes.length"><br>*no events</small>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    We are going to add explanation content here.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>