
<div class="container header">    
    <div class="row">
        <div class="col-sm-1">
            <a href="https://www.cvast.tuwien.ac.at/" target="_blank">
                <img border="0" src="./assets/cvast.png" width="35" height="30">
            </a>
        </div>
        <div class="col-sm-2">
            <h6>Updated: {{date}}</h6>
        </div>   
        <div class="col-sm-2">
            <h6>Total: {{total}}</h6>
        </div>  
        <div class="col-sm-2">
            <h6>Tests: {{tests}}</h6>
        </div> 
        <div class="col-sm-2">
            <h6>Deaths: {{deaths}}</h6>
        </div>  
        <div class="col-sm-2">
            <h6>Recovered: {{recovered}}</h6>
        </div>   
        <div class="col-sm-1">
            <a href="https://www.tuwien.at/en/" class="logo" target="_blank">
                <img  border="0" src="./assets/tuwien.png" width="30" height="30">
            </a>
        </div>        
    </div>
</div>