
<div class="container header">    
    <div class="row">
        <div class="col-sm-1">
            <a href="https://www.cvast.tuwien.ac.at/" target="_blank">
                <img border="0" src="./assets/cvast.png" width="65" height="55">
            </a>
        </div>
        <div class="col-sm-2">
            <h5>Updated:</h5><h6>{{date}}</h6>
        </div>   
        <div class="col-sm-2">
            <h5>Total:</h5><h6>{{total}}</h6>
        </div>  
        <div class="col-sm-2">
            <h5>Tests:</h5><h6>{{tests}}</h6>
        </div> 
        <div class="col-sm-2">
            <h5>Deaths: </h5><h6>{{deaths}}</h6>
        </div>  
        <div class="col-sm-2">
            <h5>Recovered: </h5><h6>{{recovered}}</h6>
        </div>   
        <div class="col-sm-1">
            <a href="https://www.tuwien.at/en/" class="logo" target="_blank">
                <img  border="0" src="./assets/tuwien.png" width="50" height="50">
            </a>
        </div>        
    </div>
</div>