button.yScale {
  position: absolute;
  top: 3%;
  left: 13%;
  z-index:999999;
}
button.yDimension {
  position: absolute;
  top: 12%;
  left: 13%;
  z-index:999999;
}
information-button{
  position: absolute;
  top: 4%;
  left: 89%;
  z-index:1;
}  
