<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Corona Logo" src="assets/corona.png">
</div>
<h2>Over development... </h2>

<div class="container">
  <div class="row">
    <div class="col-sm-2 countrylist">
      <app-countrylist></app-countrylist>
    </div>
    <div class="col-sm-10">
      <app-main-linechart></app-main-linechart>
    </div>
    <div class="col-sm-12">      
      <app-timechart></app-timechart>
    </div>
  </div>
</div>