<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<div class="container">  
  
  <div class="row">
    <div class="col-sm-12">
      <app-total-overview [dm]="_dm"
                          (countriesOutput)="receiveCountriesSelection($event)"></app-total-overview>
    </div>   
  </div>
  <div class="row">
      
      <div class="col-sm-12">  
          <div class="row">
              <div class="col-sm-6 linechart-n">
                  <app-linechart-n [dm]="_dm"></app-linechart-n>
              </div>
              <div class="col-sm-6">
                  <div class="linechart-newcases">
                    <app-linechart-newcases [dm]="_dm"></app-linechart-newcases>
                  </div>
              </div>
          </div>
      </div>   
      <div class="col-sm-12">
        <app-cards-panel [dm]="_dm"></app-cards-panel>
      </div>
  </div>


</div>